<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>676180939135-f6m97992949auorjej9vrb7ohc58vphe.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.676180939135-f6m97992949auorjej9vrb7ohc58vphe</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>676180939135-5e48uede586jp6uu1rji3mmresggffeg.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBRIL6Wc0dVqiA6NPvUEymXWBMAzH62xT4</string>
	<key>GCM_SENDER_ID</key>
	<string>676180939135</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.snt.ionic.app</string>
	<key>PROJECT_ID</key>
	<string>ionic-app-ad79d</string>
	<key>STORAGE_BUCKET</key>
	<string>ionic-app-ad79d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:676180939135:ios:0651a25321a3c8041bca4a</string>
</dict>
</plist>